<app-component1></app-component1>

<app-component2></app-component2>

<app-component1></app-component1>
<!-- 
{{ title }}

{{ myNumber }}

<input type="button" value="Random Number" (click)="RandomNumber()" >
<input type="text" name="" id="" [(ngModel)]="myNumber" >

<input type="button" value="A">&nbsp;&nbsp;&nbsp;<input type="button" value="B"> -->


Angka 1<input type="text" name="" id="" [(ngModel)]="angka1" >
<br>
Angka 2<input type="text" name="" id="" [(ngModel)]="angka2" >
<br>
<input type="button" value="+" (click)="tambah()" >
<input type="button" value="-" (click)="kurang()">
<input type="button" value="/" (click)="bagi()">
<input type="button" value="x" (click)="kali()">
<br>
Result <input type="text" name="" id="" [(ngModel)]="result" >
