<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top : 50px;">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Task List
        </a>
      </div>
      <button class="btn btn-default navbar-btn navbar-right" routerLink="/" >Logout</button>
    </div>
  </nav>

  <!-- using ngForm -->
  <form #f="ngForm" (ngSubmit)="AddTaskForm(f)" >

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Task</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Task</label>
          <!-- using ngModel -->
          <!-- <input type="text" class="form-control" [(ngModel)]="newTask" > -->

          <!-- using ngForm -->
          <input type="text" class="form-control" name="task" ngModel >

        </div>

        <!-- using ngModel -->
        <!-- <button type="button" class="btn btn-default" (click)="AddTask()" ><b>+</b> Add Task</button> -->

        <!-- using ngForm -->
        <button type="submit" class="btn btn-default" ><b>+</b> Add Task</button>

      </div>
    </div>

  </form>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Task List</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Task</th>
            <!-- <th>Complete</th> -->
            <th></th>
          </tr>
          
          <tr *ngFor="let t of taskList, let i = index">

            <td>{{ t.name }}</td>
            <!-- <td>
                <input type="checkbox" >
            </td> -->
            <td>
                <button type="button" class="btn btn-danger" (click)="DeleteTask(i)" >
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </td>

          </tr>

        </table>
      </div>
    </div>

  

</div>
